[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = ">=4.2b1"
peewee = "*"

[dev-packages]
hacking = {git = "https://github.com/aruneko/hacking.git"}
black = "==18.6b4"
autoflake = "*"
isort = "*"

[requires]
python_version = "3.6"

[scripts]
fmt = "black --py36 ."
lint = "flake8"
unused = "autoflake -i --remove-all-unused-imports --remove-unused-variables --exclude .venv -r ."
imports = "isort --recursive --force-single-line --skip .venv ."

[pipenv]
allow_prereleases = true
